NET "FPGA_CLK"				LOC="N18" | IOSTANDARD=LVCMOS25;
NET "FPGA_RESET"			LOC="P19" | IOSTANDARD=LVCMOS25;
NET "FPGA_LED(0)"			LOC="K21" | IOSTANDARD=LVCMOS25;
NET "FPGA_LED(1)"			LOC="K22" | IOSTANDARD=LVCMOS25;
NET "FPGA_LED(2)"			LOC="L21" | IOSTANDARD=LVCMOS25;
NET "FPGA_LED(3)"			LOC="M20" | IOSTANDARD=LVCMOS25;
NET "FPGA_LED(4)"			LOC="M21" | IOSTANDARD=LVCMOS25;
NET "FPGA_LED(5)"			LOC="N20" | IOSTANDARD=LVCMOS25;

NET "AD_SDATA"				LOC="P2" | IOSTANDARD=LVCMOS18;
NET "AD_RESET"				LOC="R2" | IOSTANDARD=LVCMOS18;
NET "AD_SEN"				LOC="P1" | IOSTANDARD=LVCMOS18;
NET "AD_SCLK"				LOC="R1" | IOSTANDARD=LVCMOS18;
NET "AD_SDOUT"				LOC="AA1" | IOSTANDARD=LVCMOS18;
NET "AD_CTRL(0)"			LOC="Y11" | IOSTANDARD=LVCMOS18;
NET "AD_CTRL(1)"			LOC="AB10" | IOSTANDARD=LVCMOS18;
NET "AD_CTRL(2)"			LOC="AA10" | IOSTANDARD=LVCMOS18;

NET "AD_DAP(0)"			LOC="AA9" | IOSTANDARD=LVCMOS18;
NET "AD_DAP(1)"			LOC="T5" | IOSTANDARD=LVCMOS18;
NET "AD_DAP(2)"			LOC="W6" | IOSTANDARD=LVCMOS18;
NET "AD_DAP(3)"			LOC="AA6" | IOSTANDARD=LVCMOS18;
NET "AD_DAP(4)"			LOC="AA5" | IOSTANDARD=LVCMOS18;
NET "AD_DAP(5)"			LOC="W5" | IOSTANDARD=LVCMOS18;

NET "AD_DAM(0)"			LOC="AA8" | IOSTANDARD=LVCMOS18;
NET "AD_DAM(1)"			LOC="U5" | IOSTANDARD=LVCMOS18;
NET "AD_DAM(2)"			LOC="Y6" | IOSTANDARD=LVCMOS18;
NET "AD_DAM(3)"			LOC="AB6" | IOSTANDARD=LVCMOS18;
NET "AD_DAM(4)"			LOC="AB5" | IOSTANDARD=LVCMOS18;
NET "AD_DAM(5)"			LOC="Y4" | IOSTANDARD=LVCMOS18;

NET "AD_DBP(0)"			LOC="AA3" | IOSTANDARD=LVCMOS18;
NET "AD_DBP(1)"			LOC="Y3" | IOSTANDARD=LVCMOS18;
NET "AD_DBP(2)"			LOC="W1" | IOSTANDARD=LVCMOS18;
NET "AD_DBP(3)"			LOC="V3" | IOSTANDARD=LVCMOS18;
NET "AD_DBP(4)"			LOC="U2" | IOSTANDARD=LVCMOS18;
NET "AD_DBP(5)"			LOC="T1" | IOSTANDARD=LVCMOS18;

NET "AD_DBM(0)"			LOC="AB2" | IOSTANDARD=LVCMOS18;
NET "AD_DBM(1)"			LOC="Y2" | IOSTANDARD=LVCMOS18;
NET "AD_DBM(2)"			LOC="Y1" | IOSTANDARD=LVCMOS18;
NET "AD_DBM(3)"			LOC="W2" | IOSTANDARD=LVCMOS18;
NET "AD_DBM(4)"			LOC="V2" | IOSTANDARD=LVCMOS18;
NET "AD_DBM(5)"			LOC="U1" | IOSTANDARD=LVCMOS18;

NET "AD_CLKOUTP"			LOC="T4" | IOSTANDARD=LVCMOS18;
NET "AD_CLKOUTM"			LOC="U3" | IOSTANDARD=LVCMOS18;

NET "FPGA_AD_CLK_P"		LOC="AA11" | IOSTANDARD=LVCMOS18;
NET "FPGA_AD_CLK_M"		LOC="AB11" | IOSTANDARD=LVCMOS18;

NET "DA_DBP1(0)"			LOC="W16" | IOSTANDARD=LVCMOS33;
NET "DA_DBP1(1)"			LOC="V15" | IOSTANDARD=LVCMOS33;
NET "DA_DBP1(2)"			LOC="U15" | IOSTANDARD=LVCMOS33;
NET "DA_DBP1(3)"			LOC="U16" | IOSTANDARD=LVCMOS33;
NET "DA_DBP1(4)"			LOC="V17" | IOSTANDARD=LVCMOS33;
NET "DA_DBP1(5)"			LOC="T15" | IOSTANDARD=LVCMOS33;
NET "DA_DBP1(6)"			LOC="T16" | IOSTANDARD=LVCMOS33;
NET "DA_DBP1(7)"			LOC="R16" | IOSTANDARD=LVCMOS33;

NET "DA_DBP2(0)"			LOC="AA14" | IOSTANDARD=LVCMOS33;
NET "DA_DBP2(1)"			LOC="AB15" | IOSTANDARD=LVCMOS33;
NET "DA_DBP2(2)"			LOC="AA15" | IOSTANDARD=LVCMOS33;
NET "DA_DBP2(3)"			LOC="AB16" | IOSTANDARD=LVCMOS33;
NET "DA_DBP2(4)"			LOC="Y14" | IOSTANDARD=LVCMOS33;
NET "DA_DBP2(5)"			LOC="AA16" | IOSTANDARD=LVCMOS33;
NET "DA_DBP2(6)"			LOC="AB17" | IOSTANDARD=LVCMOS33;
NET "DA_DBP2(7)"			LOC="W14" | IOSTANDARD=LVCMOS33;

NET "DA_WRT1"				LOC="AA18" | IOSTANDARD=LVCMOS33;
NET "DA_WRT2"				LOC="AB18" | IOSTANDARD=LVCMOS33;
NET "DA_CLK1"				LOC="W15" | IOSTANDARD=LVCMOS33;
NET "DA_CLK2"				LOC="Y16" | IOSTANDARD=LVCMOS33;

NET "IO_BANK0(0)"			LOC="B18" | IOSTANDARD=LVCMOS33;
NET "IO_BANK0(1)"			LOC="A19" | IOSTANDARD=LVCMOS33;
NET "IO_BANK0(2)"			LOC="C19" | IOSTANDARD=LVCMOS33;
NET "IO_BANK0(3)"			LOC="A20" | IOSTANDARD=LVCMOS33;
NET "IO_BANK0(4)"			LOC="B20" | IOSTANDARD=LVCMOS33;
NET "IO_BANK0(5)"			LOC="A21" | IOSTANDARD=LVCMOS33;
NET "IO_BANK0(6)"			LOC="D19" | IOSTANDARD=LVCMOS33;
NET "IO_BANK0(7)"			LOC="B21" | IOSTANDARD=LVCMOS33;
NET "IO_BANK0(8)"			LOC="B22" | IOSTANDARD=LVCMOS33;
NET "IO_BANK0(9)"			LOC="C20" | IOSTANDARD=LVCMOS33;
NET "IO_BANK0(10)"		LOC="C22" | IOSTANDARD=LVCMOS33;
NET "IO_BANK0(11)"		LOC="D22" | IOSTANDARD=LVCMOS33;
NET "IO_BANK0(12)"		LOC="D21" | IOSTANDARD=LVCMOS33;
NET "IO_BANK0(13)"		LOC="D20" | IOSTANDARD=LVCMOS33;

NET "IO_BANK1(0)"			LOC="D9" | IOSTANDARD=LVCMOS33;
NET "IO_BANK1(1)"			LOC="C9" | IOSTANDARD=LVCMOS33;
NET "IO_BANK1(2)"			LOC="H10" | IOSTANDARD=LVCMOS33;
NET "IO_BANK1(3)"			LOC="A9" | IOSTANDARD=LVCMOS33;
NET "IO_BANK1(4)"			LOC="B10" | IOSTANDARD=LVCMOS33;
NET "IO_BANK1(5)"			LOC="A10" | IOSTANDARD=LVCMOS33;
NET "IO_BANK1(6)"			LOC="B11" | IOSTANDARD=LVCMOS33;
NET "IO_BANK1(7)"			LOC="A11" | IOSTANDARD=LVCMOS33;

NET "IO_BANK2(0)"			LOC="B12" | IOSTANDARD=LVCMOS33;
NET "IO_BANK2(1)"			LOC="C12" | IOSTANDARD=LVCMOS33;
NET "IO_BANK2(2)"			LOC="A13" | IOSTANDARD=LVCMOS33;
NET "IO_BANK2(3)"			LOC="B13" | IOSTANDARD=LVCMOS33;
NET "IO_BANK2(4)"			LOC="A14" | IOSTANDARD=LVCMOS33;
NET "IO_BANK2(5)"			LOC="C13" | IOSTANDARD=LVCMOS33;
NET "IO_BANK2(6)"			LOC="C14" | IOSTANDARD=LVCMOS33;
NET "IO_BANK2(7)"			LOC="C15" | IOSTANDARD=LVCMOS33;
NET "IO_BANK2(8)"			LOC="D14" | IOSTANDARD=LVCMOS33;
NET "IO_BANK2(9)"			LOC="E14" | IOSTANDARD=LVCMOS33;
NET "IO_BANK2(10)"		LOC="F15" | IOSTANDARD=LVCMOS33;
NET "IO_BANK2(11)"		LOC="G15" | IOSTANDARD=LVCMOS33;
NET "IO_BANK2(12)"		LOC="F16" | IOSTANDARD=LVCMOS33;
NET "IO_BANK2(13)"		LOC="G16" | IOSTANDARD=LVCMOS33;

NET "IO_BANK3(0)"			LOC="T20" | IOSTANDARD=LVCMOS33;
NET "IO_BANK3(1)"			LOC="T21" | IOSTANDARD=LVCMOS33;
NET "IO_BANK3(2)"			LOC="U20" | IOSTANDARD=LVCMOS33;
NET "IO_BANK3(3)"			LOC="U22" | IOSTANDARD=LVCMOS33;
NET "IO_BANK3(4)"			LOC="U21" | IOSTANDARD=LVCMOS33;
NET "IO_BANK3(5)"			LOC="V22" | IOSTANDARD=LVCMOS33;
NET "IO_BANK3(6)"			LOC="W22" | IOSTANDARD=LVCMOS33;
NET "IO_BANK3(7)"			LOC="W21" | IOSTANDARD=LVCMOS33;
NET "IO_BANK3(8)"			LOC="Y22" | IOSTANDARD=LVCMOS33;
NET "IO_BANK3(9)"			LOC="Y21" | IOSTANDARD=LVCMOS33;
NET "IO_BANK3(10)"		LOC="AB22" | IOSTANDARD=LVCMOS33;
NET "IO_BANK3(11)"		LOC="AA21" | IOSTANDARD=LVCMOS33;
NET "IO_BANK3(12)"		LOC="AB21" | IOSTANDARD=LVCMOS33;
NET "IO_BANK3(13)"		LOC="AB20" | IOSTANDARD=LVCMOS33;

NET "FPGA_RX1"				LOC="B8" | IOSTANDARD=LVCMOS33;
NET "FPGA_RX2"				LOC="H8" | IOSTANDARD=LVCMOS33;
NET "FPGA_TX1"				LOC="C8" | IOSTANDARD=LVCMOS33;
NET "FPGA_TX2"				LOC="G8" | IOSTANDARD=LVCMOS33;